.App {
  text-align: center;
}

.App-logo {
  height: 8vh;
  pointer-events: none;
  top: 2vh;

  @media screen and (max-height: 500px) {
    display:none;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: $curtains;
  min-height: 15vh;
  display:flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 3px 2px solid gray;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
