
//*************** TOP-CONTAINER (STAGE) *****************
.showtime {
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: $main;
    height:56vh;

    @media screen and (min-width: 900px) {  
        height:60vh;
    }

}


//************ MAIN TITLE *******************
.title {
    background-color: $main;
    h1 {
        margin:0px;
        padding: 30px 30px;
        font-size:2.5em;
        color: $seats;
    }

    @media screen and (min-width: 900px) {

        h1 {
            font-size:3em;
        }
    }

}


//******************* INFOCARD *****************   
.info-card {
    width:80vw;
    height: auto;
    max-height: 40vh;
    min-height: 28vh;
    overflow: scroll;
    background-color: $main;
    color: $seats;
    align-self: center;

    @media screen and (min-width: 760px){
        min-height: 28vh;
    } 

    @media screen and (min-width: 900px) {
        
        border: 1px solid lightgray;
        min-height: 25vh;
        width: 60vw;

    }
}


//****************** FORM **************************
form {
    display:flex;
    flex-direction: column;
    width:50vw;
    align-self: center;
    padding: 10px 0px;
    margin-bottom: 10px;

    input {
        height: 40px;
        margin: 10px 0px;
        border-radius: 0px;
        box-shadow: 2px 3px 4px gray;
        border:none;

        &:focus{
            outline: $curtains;
        }

        @media screen and (min-width: 900px) {
            
            height: 50px;
            width:50vw;
            border-radius: 0px;
            box-shadow: 2px 3px 4px gray;
            border:none;
        }
    }

    @media screen and (min-width: 900px) {
        max-width: 600px;
        align-self: center;
        align-items: center;
        padding: 10px 0px;

    }

    }



//**************** BOTTOM - CONTAINER (SEATS) **********************************
.seats {
    background-color: $seats;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 40px;
    height:8vh;

    @media screen and (min-width: 900px) {
        height: 10vh;
    }
}


// **************** BUTTONS ***************************    
button {
    border:none;
    padding: 10px 20px;
    border-radius: 10px;
    color: $main;

}
.submit-btn {
    width: calc(40% * 50vw );
    position: static;
    background-color: $action;
    font-size: 1em;
    font-weight: 800;

    &:hover, &:focus  {
        border:none;
        color: $seats;
        background-color: $curtains;
        
    }

    &:active {
        color:$action;
    }

    @media screen and (min-width: 760px) {
        width: 50%;
        margin:auto;
        font-size: 1.1em; 
        font-weight: 800;     
    }

    @media screen and (min-width: 900px) {
        width: 45%;
        font-size: 1.4em;
        font-weight: 800;

        &:hover, &:focus  {
            border:none;
            color: $seats;
            background-color: $curtains;
        } 
    }
}

.hint-btn  {
    order:2;
    border: 2px solid $main;
    background-color: $seats;
    position: relative;
    top: -6vh;
    width: calc( 50%  );
    padding-left: 10px;
    font-size: 1em;
  

    &:hover, &:focus {
        border: 2px solid $highlights;
        color: $highlights;
    }

    &:active {
        background-color: $curtains;
        color: $seats;
        border: $seats;
    }

    @media screen and (min-width: 760px) {
        width: calc(35%);
        margin-left: 10px;
        font-size: 1em;
    }

    @media screen and (min-width: 1000px) {
        font-size: 1.4em;
        width: calc(20% - 20px);
        position: static;

        &:hover, &:focus {
            border: 2px solid $highlights;
            color: $highlights;
            
        }

        &:active {
            background-color: $curtains;
            color: $seats;
            border: $seats;
        }

    }   

}



//********************* HINTS **************************
.hints-section {
    padding-top:20px;
    order:1;


    h2 {
        color: $highlights;
    }

    h3 {
    color:$highlights;
    font-size: 1.2em;
    font-style: bold;
    }

    @media screen and (min-width: 768px) {
        font-size: 1.5em;
    }

}


//************************ SCORES ***********************
.score-section {
    padding-top:20px;
    order: 3;


    h2 {
        color: $highlights;
    }

    h3 {
        color:$highlights;
        font-size: 1.2em;
        font-style: bold;
    }
    @media screen and (min-width: 768px) {
        font-size: 1.5em;
    }

}

