
//*************** TOP-CONTAINER (STAGE) *****************
.showtime {
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: $main;
    height:56vh;

    @media screen and (min-width: 900px) {  
        height:60vh;
    }

}

//************ MAIN TITLE *******************
.title {
    background-color: $main;
    h1 {
        margin:0px;
        padding: 30px 30px;
        font-size:2.5em;
        color: $seats;
    }

    @media screen and (min-width: 900px) {

        h1 {
            font-size:3em;
        }
    }

}

//******************* INFOCARD *****************   
.info-card {
    width:80vw;
    height: auto;
    max-height: 40vh;
    overflow: scroll;
    background-color: $main;
    color: $seats;
    align-self: center;

    @media screen and (min-width: 900px) {
        
        border: 1px solid lightgray;
        width: 60vh;

    }
}

//****************** FORM **************************
form {
    display:flex;
    flex-direction: column;
    width:50vw;
    align-self: center;
    padding: 10px 0px;
    margin-bottom: 10px;

    input {
        height: 40px;
        margin: 10px 0px;
        border-radius: 0px;
        box-shadow: 2px 3px 4px gray;
        border:none;

        &:focus{
            outline: $curtains;
        }

        @media screen and (min-width: 900px) {
            
            height: 50px;
            width:50vw;
            border-radius: 0px;
            box-shadow: 2px 3px 4px gray;
            border:none;
        }
    }

    @media screen and (min-width: 900px) {
        max-width: 600px;
        align-self: center;
        align-items: center;
        padding: 10px 0px;

    }

    }



//**************** BOTTOM - CONTAINER (SEATS) ********************
.seats {
        background-color: $seats;
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 40px;
        height:8vh;

        @media screen and (min-width: 900px) {
            height: 10vh;
        }
    }


// **************** BUTTONS ***************************    
    button {
        border:none;
        padding: 10px 20px;
        border-radius: 10px;
        font-size: 1.5em;
        color: $main;
    }

    .submit-btn {
 
        background-color: $action;

        &:hover, &:focus  {
            border:none;
            color: $seats;
            background-color: $curtains;
            
        }

        &:active {
            color:$action;
        }

        @media screen and (min-width: 900px) {
        
     }
    }

    .hint-btn  {
        order:2;
        border: 2px solid $main;
        background-color: $seats;
        position: relative;
        top: -6vh;
        width: calc( 40% * 50vw );

        &:hover, &:focus {
            border: 2px solid $highlights;
            color: $highlights;
        }

        &:active {
            background-color: $curtains;
            color: $seats;
            border: $seats;
        }

        @media screen and (min-width: 900px) {
            width: calc( 40% * 50vw );
            position: static;

            &:hover, &:focus {
                border: 2px solid $highlights;
                color: $highlights;
            }
        }   
    }

//********** HINTS **************************
    .hints-section {
        order:1;

        h3 {
        color:$highlights;
        font-size: 1em;
        font-style: bold;
        }

        @media screen and (min-width: 768px) {
            font-size: 1.5em;
        }

    }
//*************** SCORES ***********************
    .score-section {
        order: 3;

         h3 {
        color:$highlights;
        font-size: 1em;
        font-style: bold;
        }
        @media screen and (min-width: 768px) {
            font-size: 1.5em;
        }

    }


    h2 {
        color: $highlights;
    }

    h3 {
        color:$highlights;
    }





@media screen and (min-width: 900px) {

    .showtime {
        display:flex;
        flex-direction: column;
        justify-content: center;
        background-color: $main;
        height:60vh;
    }

    .title {
        background-color: $main;
        h1 {
            margin:0px;
            padding: 30px 30px;
            font-size:3em;
            color: $seats;
        }
    }

    .info-card {
        width:60vw;
        height: auto;
        min-height: 200px;
        background-color: $main;
        color: $seats;
        align-self: center;
        border: 1px solid lightgray;
    }

    form {
        display:flex;
        flex-direction: column;
        width:50vw;
        max-width: 600px;
        align-self: center;
        align-items: center;
        padding: 10px 0px;

        input {
            height: 60px;
            width:50vw;
            margin: 20px 0px;
            border-radius: 0px;
            box-shadow: 2px 3px 4px gray;
            border:none;
        }
    }


    .seats {
        background-color: $seats;
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 40px;
        height:15vh;
    }

    button {
        border-radius: 10px;
        font-size: 1.5em;
        color: $main;
        
    }

    .submit-btn {    
        background-color: $action;
        width: 40%;
        
        &:hover, &:focus {
            border:none;
            color: $seats;
            background-color: $curtains;
           
        }
    }


    .hint-btn  {
        order:2;
        border: 2px solid $main;
        background-color: $seats;
        width: calc( 40% * 50vw );
        position: static;

        &:hover, &:focus {
            border: 2px solid $highlights;
            color: $highlights;
        }

    }

    .hints-section {
        order:1;
    }

    .score-section {
        order: 3;
    }


    h2 {
        color: $highlights;
    }

    h3 {
        color:$highlights;
    }

}